body {
    color: white;
    background-image: url('background.pdf');
}

h1 {
    opacity: 95%;
    margin-left: 330px;
    align-items: center;
    background: linear-gradient(90deg, rgb(245, 47, 47) 0%, rgb(107, 34, 3) 100%);
    border-radius: 34px;
    border: 0.3rem solid rgb(252, 253, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin-top: 320px;
}

.high-score {
    opacity: 95%;
    list-style: none;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    margin-left: 300px;
    background: linear-gradient(90deg, rgb(245, 47, 47) 0%, rgb(107, 34, 3) 100%);
    border-radius: 34px;
    border: 0.3rem solid rgb(252, 253, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    margin-top: 40px;
    margin-left: 310px;
}

